.shrikhand-regular {
    font-family: "Shrikhand", serif;
    font-weight: 400;
    font-style: normal;
  }
  

body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(180deg,#05868E 10% , #ebf8e1be, #e5daa2 );
    background-size: 200%;
    background-repeat: no-repeat;
    height: 200vh;
}


#msg{
    font-family: serif;
    font-size: 100%;
    margin: 10px;
    text-align: center;
    color: white;
}

h1{
    color: white;
    font-size: 280%;
    letter-spacing: 1px;
    line-height: 50%;
    text-align: center;
    margin: 0;
    padding: 0;
    font-family: serif;
}

h2{
    color: white;
    font-size: 130%;
    text-align: center;
    font-family: serif;
    letter-spacing: 1px;
}

h4{
    color:white;
    font-family: serif;
    text-align: center;
    margin: 10px;
}


header{
    background-color: black;
    height: 6vh;
    margin-top: 0;
}

#blckbar{
    background-color: black;
    height: 6vh;
    display: flex;
    justify-content: left;
    align-items: center;
    color: white;
}

#subhead{
    padding-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #05868E;
    height: 10vh;

}

#whitebar{
    display: flex;
    align-items: center;
    color: black;
    flex-wrap: wrap;
    justify-content: center;
}


#bluebar{
    background-color: #05868E;
    height: 4vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


#logo{
    width:64px;
    margin:5px;
}

#bcktotop{
    position: -webkit-sticky;
    position:sticky;  
    top:0;
    margin:10px;
  
}

#bcktotoplabel{
    color:black;
    font-family: serif;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    font-size: 120%;
    padding:5px;
}

#bcktotoplabel:hover{
    background-color:#05868E;
    color:white;
    transition: ease;
}


.img{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

img{
    width: 50%;
    margin: 5px;
    transition: 2s ease;
}

img:hover{
    width:80%;
    transition: 2s ease;
}


.nav{
    color:white;
    background-color: black;
    display: flex;
    align-items: center;
    text-decoration: none;
    text-align: center;
    font-family: serif;
    margin: 10px;
    border-width: 2px;
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
    height:5.7vh;
}

.nav:hover{
    color: black;
    transition: .5s ease;
    background-color: #e5daa2;
}

#hders{
    text-align: center;
    background-color: #e5daa2;
    border-style: solid;
    border-right: 0;
    border-left: 0;
    font-size:120%;
    padding: 1vh;
    font-family: serif;
    letter-spacing: 1px;
}

#fm{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
}

.formbx{
   display: flex;
   align-items: center;
   justify-content: center;
   margin-top: 10px;
}

#fmname{
    text-align: center;
    text-decoration: none;
    list-style: none;
    color: black;
    padding: 5px;
    font-family: serif;
    border-radius: 5px;
    background-color: #e5daa2;
}

#fmname:hover{
    background-color:black;
    transition: .5s ease;
    color:#e5daa2;
}

@media (max-width: 480px){
    img{
        width: 80%;
        margin: 5px;
        transition: 2s ease;
    }
}
